body * {
	box-sizing: border-box;
	font-family: Helvetica, Arial, sans-serif;
}

.button {
	color: #ffffff;
	background-color: #5cb85c;
	border-radius: 5px;
	cursor: pointer;
	height: 30px;
}

.content {
	width: 100%;
	background-color: #4acbd6;
	padding: 20px;
	margin: 15px auto 0;
	border-radius: 15px;
	color: #ffffff;
}

.title {
	text-align: center;
	margin-bottom: 15px;
}

#password {
	width: 100%;
	margin-bottom: 5px;
	border-radius: 5px;
	height: 35px;
}

#password:hover,
#password:focus {
	box-shadow: 0 0 10px #69f0ae;
}

.bold {
	font-weight: bold;
}

#showpass {
	vertical-align: top;
}
